In [69]:
import numpy as np

In [70]:
import pandas as pd

In [71]:
import matplotlib.pyplot as plt

In [72]:
%matplotlib inline

In [73]:
data=pd.read_csv('../data/globalterrorismdb_0617dist.csv', encoding = "ISO-8859-1")

/home/szymon/anaconda3/envs/datascience/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (4,6,31,33,53,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [74]:
pd.options.display.max_rows=12

In [75]:
years = data[['iyear']]

In [76]:
years

        iyear
0        1970
1        1970
2        1970
3        1970
4        1970
5        1970
...       ...
170344   2016
170345   2016
170346   2016
170347   2016
170348   2016
170349   2016

[170350 rows x 1 columns]

In [77]:
unique_years, year_counts = np.unique(years, return_counts=True)

In [78]:
unique_years

array([1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991,
       1992, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016])

In [79]:
year_counts

array([  651,   470,   496,   473,   580,   740,   923,  1319,  1526,
        2661,  2662,  2585,  2545,  2870,  3495,  2915,  2860,  3184,
        3720,  4323,  3887,  4683,  5073,  3458,  3081,  3056,  3200,
         933,  1395,  1813,  1907,  1332,  1262,  1162,  2009,  2749,
        3241,  4803,  4719,  4822,  5071,  8500, 11996, 16860, 14852, 13488])

plt.hist(unique_years, year_counts, bins="auto")
plt.grid()
plt.show()